@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
    color: #584366;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: var(--heading-font) !important;
  }
  #loading-screen {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 10000;
      background-color: #DAA620;

  }
:root {
    --heading-font: 'Cormorant Garamond', serif;
    --para-font: 'Raleway', sans-serif;
    
}
.navbar-brand {
    font-family: var(--heading-font) !important;
    color: #584366 !important;
    font-weight: bold;
}
body{
    height: 200vh;
}
#navbar {
    background-color:#DAA620;
    
    position: fixed;
    z-index: 10;
    width: 100%;
    font-family: var(--heading-font) !important;
   
}
html{
    scroll-behavior: smooth;
}
.navbar-nav a{
    color: #584366 !important;
    font-size:1.2rem;
}

#bgImage{
    background-image:url(Assests/images/bg2.jpg);
   
    height: 500px; 
    
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

.intro {
    margin-top:auto;
    padding: 10px;
}
.intro h1 {
    margin-top:9rem;
    font-family: var(--heading-font) !important;
    color: #584366;
    font-weight: bold;
    letter-spacing: 3px;
}
.btn {
    height: 2.5rem;
    width: 7rem;
    color: #fff;
    background-color: #584366;
    outline: none;
    border: none;

}
.btn:hover {
    border: 2px solid #584366;
    background-color: transparent;
    color: #584366;
}

.intro p {
    --para-font: 'Raleway', sans-serif;
    color: #58440f;
    font-weight: bold;
    
}
#about{
    text-align: center;
    margin-top: 2rem;
}
#about h2{
    margin-top: 1rem;
    font-family: var(--heading-font) !important;
    color: #584366;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 1px;
    
}
#about p {
    color: #58440f;
    font-weight: bold;
}
.corousel-container {
    border: 3px dotted #584366;
    padding: 3px;
}
#new-collection{
    margin-top:3rem ;
    text-align:center
}
#new-collection h2 {
    margin-top: 1rem;
    font-family: var(--heading-font) !important;
    color: #584366;
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 1px;
}
#new-collection p {
    color: #58440f;
    font-weight: bold;
    font-size: 1;
}
#cards {
    text-align: center;
}
#cards h2 {
    margin-top: 1.5rem;
    font-family: var(--heading-font) !important;
    color: #584366;
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 1px;
}
.card{
    border: none;
    text-align: left;
    
}
.card-title {
    
    font-family: var(--heading-font) !important;
    color: #584366;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
    
}
.card-img-top {
    width: 100% !important;
    border-radius: 1rem;
}
#footer {
    height: auto;
    background-color: #DAA620;
}
#footer h3 {
    margin-top: 1rem;
    font-family: var(--heading-font) !important;
    color: #584366;
    font-weight: bolder;
    font-size: 2rem;
    
}
#footer p{
    color: #fff;
    font-family: var(--para-font) !important;
    font-size: 1;
}
#footer i {
    color: #584366; 
    margin: 0.7rem;
    font-size: 1.4rem;
}





